::placeholder {
    color: #f3ab2e;
    opacity: 1;
}

.btn-register, .btn-view-page{
    background-color: #0b1011;
    color: #f3ab2e;
}

.btn-register:hover:enabled, .btn-view-page:hover:enabled{
    background-color: #f3ab2e;
    color: #0b1011;
}

.btn-view-page{
    border:none !important;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #f3ab2e;
    color: #0b1011;

}