<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/HomeBG.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="OT-logo">
                        <img src="assets/img/OT_Logo.png" alt="">
                    </div>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <!-- end header-->
    <div class="main">
        <!-- <app-components></app-components> -->
        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">What is Ortus Tenoris?</h2>
                        <br/>
                        <p class="description">
                        Ortus means ..<br>
                        Tenoris means..
                        </p>
                        <br/>
          
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <i class="nc-icon nc-atom"></i>
                            <!-- <i class="nc-icon nc-camera-compact"></i> -->
                            <!-- <i class="nc-icon nc-watch-time"></i> -->
                            <i class="nc-icon nc-key-25"></i>
                            <!-- <i class="nc-icon nc-user-run"></i> -->
                            <i class="nc-icon nc-layout-11"></i>
                            <i class="nc-icon nc-badge"></i>
                            <i class="nc-icon nc-diamond"></i>
                            <i class="nc-icon nc-bulb-63"></i>
                            <i class="nc-icon nc-planet"></i>
                            <i class="nc-icon nc-zoom-split"></i>
                            <i class="nc-icon nc-cloud-download-93"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Elaboration</h2>
                        <p class="description">Centered text paragraph</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="section section-gold">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">FAQ</h2>
                        <p class="description">Will do up accordion panels for FAQ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-image section-login" style="background-image: url('assets/img/SignupBG2.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <span style="text-align:center; font-size:24px; font-weight:600; color:black">SIGN UP</span><br>
                            <div class="social-line text-center">
                                <a href="https://www.facebook.com" class="btn btn-neutral btn-facebook btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="https://www.google.com" class="btn btn-neutral btn-google btn-just-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="https://www.twitter.com" class="btn btn-neutral btn-twitter btn-just-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <form class="register-form">
                                <i class="nc-icon nc-email-85"></i>&nbsp;&nbsp;<span style="font-size:16px; font-weight:500">Email</span>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>

                                <i class="nc-icon nc-key-25"></i>&nbsp;&nbsp;<span style="font-size:16px; font-weight:500">Password</span>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                    </span>
                                    <input type="text" class="form-control" placeholder="Password">
                                </div>
                                <button class="btn btn-register btn-block btn-round">Register</button>
                            </form>
                            <div class="forgot">
                                <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                            </div>
                        </div>
                        <div class="col text-center" routerLinkActive="active">
                            <a [routerLink]="['/signup']" class="btn btn-view-page btn-clear btn-round btn-lg">View Register Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="section section-dark">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>

                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="./assets/img/examples/profile-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">Profile Page</a>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>