<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/HomeBG.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="OT-logo">
                        <img src="assets/img/OT_Logo.png" alt="">
                    </div>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <!-- end header-->
    <div class="main">
        <!-- <app-components></app-components> -->
        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <h2 class="title">关于我们</h2>
                        <br/>
                        <p class="description"></p>
                        <ul class="about-us-list" style="font-size:16px; color:whitesmoke">
                            <li>OT是全球第一家区块链博彩平台</li>
                            <br>
                            <li>OT区块链博彩平台已遍布东南亚，欧洲，美洲，大洋洲等多个国家和地区</li>
                            <br>
                            <li>交易量保持在每日5千万美元</li>
                            <br>
                            <li>每日线上的会员量超过100万名</li>
                        </ul>
                        <br>

                        <h2 class="title">OT目标</h2>
                        <br/>
                        <ul class="target-list" style="font-size:16px; color:whitesmoke">
                            <li>为全球玩家打造透明，真实及安全的博彩平台</li>
                            <br>
                            <li>向市场推出20种博彩游戏</li>
                            <br>
                        </ul>



                        <br/>

                    </div>

                    <div class="col-lg-5 col-md-12">
                        <div class="icons-container">
                            <i class="nc-icon nc-atom"></i>
                            <!-- <i class="nc-icon nc-camera-compact"></i> -->
                            <!-- <i class="nc-icon nc-watch-time"></i> -->
                            <i class="nc-icon nc-key-25"></i>
                            <!-- <i class="nc-icon nc-user-run"></i> -->
                            <i class="nc-icon nc-layout-11"></i>
                            <i class="nc-icon nc-badge"></i>
                            <i class="nc-icon nc-diamond"></i>
                            <i class="nc-icon nc-bulb-63"></i>
                            <i class="nc-icon nc-planet"></i>
                            <i class="nc-icon nc-zoom-split"></i>
                            <i class="nc-icon nc-cloud-download-93"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">OT 亮点</h2>
                        <ul class="attraction-list" style="font-size:16px; color:whitesmoke; list-style:none;">
                            <li>OT拥有APP让用户们更轻松自在的玩博彩游戏</li>
                            <br>
                            <li>OT全球首家推动结合区块链与博彩的游戏平台。</li>
                            <br>
                            <li>OT提供最真实及透明的区块链博彩游戏。</li>
                            <br>
                            <li>OT博彩平台模式创新独特暨脱颖而出，备受全球用户的青睐。</li>
                            <br>
                            <li>OT拥有史上最顶尖的区块链搏彩技术团队，以确保系统安全。</li>
                            <br>
                            <li>OT承诺对每个用户的个人资料实行最高度的隐私保密。</li>
                            <br>
                            <li>OT承诺链接最真实、最准确的实时区块链博彩数据。</li>
                            <br>
                            <li>OT支持多个国际数字货币交易平台的充值及提现管道。</li>
                            <br>
                            <li>OT提供最简易操作的区块链博彩游戏，感受最优质的用户体验。</li>
                            <br>
                            <li>OT秉持用户为尊的理念，提供最专业的客服咨询服务。</li>
                            <br>
                            <li>OT以诚信建立平台，100% 确保用户在平台上的资金安全。</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="section section-gold">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">FAQ</h2>
                        <!-- <p class="description">Will do up accordion panels for FAQ</p>
                        <p-panel header="Title">
                            Content
                        </p-panel> -->
                        <div class="panel-group">
                            <div class="panel">
                                <div class="panel-heading">如何注册？</div>
                                <div class="panel-body">各位用户可通过以下链接或扫描推荐人的二维码或以下二维码进行注册。 </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">如何下载APP？</div>
                                <div class="panel-body">用户们可通过以下链接或扫描以下二维码下载APP</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">能成为代理吗？</div>
                                <div class="panel-body">能，本平台非常支持各位用户能够成为代理，为了奖励各位代理本平台也设下了奖励系统给予成为代理的精英们。</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">如何充值？</div>
                                <div class="panel-body">各位用户们可以到数字货币交易所购买本平台接收的币种（比特币，以太坊），然后用户们把币转到平台提供的钱包地址即可。在平台里将根据市场价格显示美金价值。</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">如何提现？</div>
                                <div class="panel-body">各位用户们可把账户里的余额转到自己任何平台的数字货币钱包里。</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">提现多长时间？</div>
                                <div class="panel-body">在本平台提现时间一般在1天工作日。</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">提现是否有手续费？</div>
                                <div class="panel-body">本平台无提现手续费，但是在提现过程当中将消耗燃油费。</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">提现利用什么管道？</div>
                                <div class="panel-body">用户们须通过数字货币钱包进行提现</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">如何修改密码？</div>
                                <div class="panel-body">各位用户可通过账号详情页面点击“更改登入密码“修改密码</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">如果忘记密码了如何找回密码？</div>
                                <div class="panel-body">用户们可通过在注册时输入的邮箱地址从设密码。</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">为什么提不了现？</div>
                                <div class="panel-body">用户们提现不成功原因可能是因为输入数额超过余额数目，钱包地址不正确。请确保钱包地址正确以防造成不必要的麻烦。</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">为什么充值不了？</div>
                                <div class="panel-body">用户们充值不成功原因可能是因为钱包余额不足，或钱包地址不正确。请确保钱包地址正确以防造成不必要的麻烦。</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">提现是否有最低数额？</div>
                                <div class="panel-body">有，用户们每次提现最低数额为价值100美金</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">一元夺宝几时开奖？</div>
                                <div class="panel-body">一元夺宝将在所有中奖票数售完便会开始随机抽出赢家。</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">充值是否有最低门槛？</div>
                                <div class="panel-body">用户在充值时无最低门槛数额</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">注册有送免费奖励吗？</div>
                                <div class="panel-body">本平台无给予新注册用户免费奖励，但是用户们可通过推荐人计划得到奖励。</div>
                            </div>

                        </div>
                        <!-- <p-accordion>
                            <p-accordionTab header="Header 1">
                                Content 1
                            </p-accordionTab>
                            <p-accordionTab header="Header 2">
                                Content 2
                            </p-accordionTab>
                            <p-accordionTab header="Header 3">
                                Content 3
                            </p-accordionTab>
                        </p-accordion> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-image section-login" style="background-image: url('assets/img/SignupBG2.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <span style="text-align:center; font-size:24px; font-weight:600; color:black">LOG IN</span>
                            <br>
                            <div class="social-line text-center">
                                <a href="https://www.facebook.com" class="btn btn-neutral btn-facebook btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="https://www.google.com" class="btn btn-neutral btn-google btn-just-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="https://www.twitter.com" class="btn btn-neutral btn-twitter btn-just-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <form class="login-form">
                                <i class="nc-icon nc-email-85"></i>&nbsp;&nbsp;
                                <span style="font-size:16px; font-weight:500">Email</span>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>

                                <i class="nc-icon nc-key-25"></i>&nbsp;&nbsp;
                                <span style="font-size:16px; font-weight:500">Password</span>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                    </span>
                                    <input type="text" class="form-control" placeholder="Password">
                                </div>
                                <button class="btn btn-register btn-block btn-round">LOG IN</button>
                            </form>
                            <div class="forgot">
                                <a href="mailto:contact@ortustenoris.io?subject=Forgot%20Password%20[UserID]" class="btn btn-link btn-danger">Forgot password?</a>
                            </div>
                        </div>
                        <div class="col text-center">
                            <span style="color: #f5593d; font-weight:700; font-size:12px;">NOT YET REGISTERED?</span>
                        </div>
                        <div class="col text-center" routerLinkActive="active">
                            <a [routerLink]="['/signup']" class="btn btn-view-page btn-clear btn-round btn-lg">View Register Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="section section-dark">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>

                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="./assets/img/examples/profile-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">Profile Page</a>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>